<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%highlight{%d{HH:mm:ss} [%t] %-5level (%X{UUID}) %logger{.} - %msg}%n</Pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="RollingFile" 
				fileName="logs/application.log"
				filePattern="logs/application-%d{MM-dd-yyyy}-%i.log.gz"
				ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="7"/>
		</RollingFile>
		<Failover name="Failover" primary="RollingFile">
			<Failovers>
				<AppenderRef ref="Console"/>
			</Failovers>
		</Failover>
	</Appenders>
	<Loggers>
		<Logger name="uk.co.bluegecko" level="INFO" additivity="true">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Failover" />
		</Root>
	</Loggers>
</Configuration>